@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@import './styles/globals.css';
@import './styles/scrollbar.css';
@import './styles/responsive.css';
@import './styles/components/animations.css';
@import './styles/components/card.css';

@theme {
    /* main theme */
    --color-matte-midnight: #293556;
    --color-matte-navy: #2E4583;
    --color-matte-royal: #3E60C1;
    --color-matte-azure: #5983FC;
    --color-velvet-night: #313866;
    --color-velvet-indigo: #50409A;
    --color-velvet-orchid: #964EC2;
    --color-velvet-flamingo: #FF7BBF;

    /* light mode */
    --color-light-bg: #f8fafc;
    --color-light-surface: #ffffff;
    --color-light-surface-2: #f1f5f9;
    --color-light-border: #e2e8f0;
    --color-light-text: #1e293b;
    --color-light-text-secondary: #64748b;
    --color-light-text-primary: #0f172a;

   /* dark mode */
    --color-dark-bg: #1e202c;
    --color-dark-surface: #252d3d;
    --color-dark-surface-2: #2f3848;
    --color-dark-border: #3d4759;
    --color-dark-text: #f1f3f5;
    --color-dark-text-secondary: #9ca3af;
    --color-dark-text-primary: #ffffff;
    
    /* global color */
    --color-global-purple: #608dee;
    --color-global-blue: #4285f4;
    --color-global-pink: #e863fa;
    --color-global-redpink: #ff4d6d;   
    --color-global-red: #db4437;
    --color-global-yellow: #f4b400;
    --color-global-green: #0f9d58;
    
    /* logo color */                                                                                                    
    --color-javascript: #f1e05a;                                                                                        
    --color-css: #1572b6;                                                                                               
    --color-html: #e34c26;                                                                                              
    --color-python: #3572A5;                                                                                            
    --color-react: #61dafb;                                                                                             
    --color-vite: #9B59B6;                                                                                              
    --color-tailwindcss: #38bdf8;                                                                                       
    --color-git: #f34f29;                                                                                               
    --color-github: #24292f;                                                                                            
    --color-nodejs: #3C873A;                                                                                            
    --color-vscode: #007ACC;                                                                                            
    
    /* font */                                                                                                          
    --font-inter: "Inter", sans-serif;                                                                                  
    --font-zen: "Zen Kaku Gothic New", sans-serif;                                                                      
    
    /* shadows */                                                                                                       
    --shadow-black: '4px 4px 0 #000';                                                                                   
    --shadow-white: '4px 4px 0 #fff';                                                                                   
}