::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    background: #f1f5f9;
}

::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
}

.dark ::-webkit-scrollbar-track {
    background: #1e202c;
}

.dark ::-webkit-scrollbar-thumb {
    background: #31323e;
}

.dark ::-webkit-scrollbar-thumb:hover {
    background: #60519b;
}
